body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo img {
    height: 50px;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

.auth {
    display: flex;
    gap: 10px;
}

.auth button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.register {
    background-color: #ff7a00;
    color: #fff;
    border-radius: 5px;
}

.login {
    background-color: transparent;
    color: #333;
    border: 1px solid #333;
    border-radius: 5px;
}

main {
    text-align: center;
    padding: 50px 20px;
}

.intro {
    max-width: 800px;
    margin: 0 auto;
}

.intro h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.intro p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.intro ul {
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
}

.intro ul li {
    font-size: 1em;
    margin-bottom: 10px;
}

.intro a{
    text-decoration: none;
    list-style-type: none;
    color: black;
}


.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.main-btn, .secondary-btn {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px;
}

.main-btn {
    background-color: #ff7a00;
    color: #fff;
}

.secondary-btn {
    background-color: transparent;
    color: #333;
    border: 1px solid #333;
}

.student-image {
    max-width: 100%;
    height: auto;
}

.image-block{
    background-image: url("../../public/images/background-main.png");
    position: absolute;
}

.container.about{
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.about{
    width: 20%;
}

.team-member img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.team{
    display: flex;
    justify-content: center;
    gap: 40px;
}

.main-about{
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;
    justify-content: center;
    text-align: left;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container.contact {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}

.map {
    width: 50%;
    height: 400px;
}

.contact-info {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    margin: 10px 0;
}

@media (max-width: 768px) {
    .map, .contact-info {
        width: 100%;
    }
}


